/* You can add global styles to this file, and also import other style files */
/* src/styles.scss */

/* Reseteo de márgenes y padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Asegura que html y body ocupen todo el espacio disponible */
html, body {
  height: 100%;
  width: 100%;
}

/* Estilos específicos del componente */

/* Cuerpo de texto - Open Sans o Lato */
:host {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

/* Títulos - Poppins o Montserrat (Negrita) */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-weight: 700; /* Negrita */
}

/* Tamaños de títulos */
h1 {
  font-size: 4rem;  /* Título grande */
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p{
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-size: 1rem;
}

a{
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-size: 1.25rem;
}

/* Texto normal (parrafos, botones, etc.) */
 button, span {
  font-size: 1rem; /* Ajusta el tamaño de fuente para el cuerpo */
}

