<div class="top">
</div>
<header class="navbar">

  <img src="assets/logo.png" alt="Logo" width="150px" height="150px">
  <nav>
    <a href="#">Inicio</a>
    <a href="#">Servicios</a>
    <a href="#">Promociones</a>
    <a href="#">Reserva de Cita</a>
    <a href="#">Opiniones</a>
    <a href="#">Contacto</a>
  </nav>
</header>

<section class="hero">
  <div class="hero-text">
    <h1>Tu bienestar empieza aquí</h1>
    <button>Reserva tu cita</button>
  </div>
  <img src="assets/mujerFondo1.png" alt="Mujer relajada" />
</section>

<section class="servicios">
  <h2>Servicios</h2>
  <div class="servicios-grid">
    <div class="servicio">
      <img src="assets/belleza.png" alt="">
      <h3>Tratamientos Faciales</h3>
      <p>Rejuvenece y revitaliza tu rostro con nuestros tratamientos personalizados</p>
    </div>
    <div class="servicio">
      <img src="assets/manicura.png" alt="">
      <h3>Cuidado de Manos y Pies</h3>
      <p>Consiente tus manos y pies con nuestros tratamientos especializados</p>
    </div>

    <div class="servicio">
      <img src="assets/cera.png" alt="">
      <h3>Depilación</h3>
      <p>Elimina el vello de forma eficaz y segura con nuestra técnica profesional</p>
    </div>
  </div>
  <button class="boton-servicios">Ver todos los servicios</button>
</section>

<section class="promo">
  <div class="promo-card">
    <img src="assets/promo-masaje.jpg" alt="Masaje relajante" />
  </div>

  <div class="promo-card">
    <div class="promo-text">
      <h3>20% de descuento en masajes relajantes</h3>
      <button>Ver promociones</button>
    </div>
  </div>
</section>

<section class="opiniones">
  <h2>Opiniones</h2>
  <div class="opiniones-grid">
    <div class="opinion">“Excelente servicio y atención. ¡Muy recomendado!”<br><strong>Lucia R.</strong></div>
    <div class="opinion">“Muy profesional. Recomiendo sus tratamientos.”<br><strong>Marta S.</strong></div>
    <div class="opinion">“Siempre salgo satisfecho con los resultados.”<br><strong>Carlos T.</strong></div>
  </div>
</section>

<footer class="footer">
  <div class="footer-content">
    <div class="footer-section contacto">
      <img src="assets/logo_blanco.png" alt="Logo" class="footer-logo">
    </div>

    <div class="footer-section contacto-info">
      <h4>Dónde encontrarnos</h4>
      <p>Sanaya - Cabezón de la Sal</p>
      <p>Tel: 123 456 789</p>
      <p>Email: contacto&#64;hotmail.com</p>
      <p>Horario: L-V 9:00 - 19:00</p>
      <div class="redes">
        <img src="assets/instagram.png" alt="Logo" class="footer-logoredes">
        <img src="assets/facebook.png" alt="Logo" class="footer-logoredes">
      </div>

    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Tu Centro de Bienestar. Todos los derechos reservados.</p>
  </div>
</footer>


