<div class="top">
</div>
<header class="navbar">

  <img src="assets/logo.png" alt="Logo" width="150px" height="150px">
  <nav>
    <a href="#">Inicio</a>
    <a href="#">Servicios</a>
    <a href="#">Promociones</a>
    <a href="#">Reserva de Cita</a>
    <a href="#">Opiniones</a>
    <a href="#">Contacto</a>
  </nav>
</header>

<section class="hero">
  <div class="hero-text">
    <h1>Tu bienestar empieza aquí</h1>
    <button>Reserva tu cita</button>
  </div>
    <img src="assets/mujerFondo1.png" alt="Mujer relajada" />
</section>

<section class="servicios">
  <h2>Servicios</h2>
  <div class="servicios-grid">
    <div class="servicio">
      <img src="assets/belleza.png" alt="">
      <h3>Tratamientos Faciales</h3>
      <p>Rejuvenece y revitaliza tu rostro con nuestros tratamientos personalizados</p>
    </div>
    <div class="servicio">
      <img src="assets/cera.png" alt="">
      <h3>Depilación</h3>
      <p>Elimina el vello de forma eficaz y segura con nuestra técnica profesional</p>
    </div>
    <div class="servicio">
      <img src="assets/manicura.png" alt="">
      <h3>Cuidado de Manos y Pies</h3>
      <p>Consiente tus manos y pies con nuestros tratamientos especializados</p>
    </div>
  </div>
</section>

<section class="promo">
  <img src="assets/masaje.jpg" alt="Masaje relajante" />
  <div class="promo-text">
    <h3>20% de descuento en masajes relajantes</h3>
    <button>Ver promociones</button>
  </div>
</section>

<section class="opiniones">
  <h2>Opiniones</h2>
  <div class="opiniones-grid">
    <div class="opinion">“Excelente servicio y atención. ¡Muy recomendado!”<br><strong>Lucia R.</strong></div>
    <div class="opinion">“Muy profesional. Recomiendo sus tratamientos.”<br><strong>Marta S.</strong></div>
    <div class="opinion">“Siempre salgo satisfecho con los resultados.”<br><strong>Carlos T.</strong></div>
  </div>
</section>

